/*****BASE STYLES*****/
* {box-sizing: border-box}
html { 
    scroll-behavior: smooth;
}

body {
    font-family: 'Young Serif', serif;
    color: black;
    font-size: 15px;
    overflow-x: hidden;
}

/**BACK TO TOP BUTTON**/

#myBtn {
    display: none; 
    position: fixed;
    bottom: 70px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #ECECA9; 
    color: #555; 
    cursor: pointer; 
    padding: 14px; 
    border-radius: 30%;
    font-size: 20px; 
    font-weight: bolder;
}
  
#myBtn:hover {
    background-color: rgb(148, 188, 89);
}

/*****HEADER*****/

#intro {
    background-color: rgb(137, 200, 137);
    text-align: left;
}

.name h1 {
    font-size: 170%;
    text-align: center;
}

/*****NAVIGATION*****/
.topnav {
    overflow: hidden;
    background-color: #333;
    margin-bottom: 8%;
    margin-top: 0;
}
  
.topnav #myLinks {
    display: none;
}
  
.topnav a {
    color: white;
    padding: 2% 15%;
    text-decoration: none;
    font-size: 110%;
    display: block;
    text-align: center;
}

.fa-bars {
    color:beige;
}
  
.topnav a.icon{
    background: #04AA6D;
    display: block;
    position:sticky;
    right: 0;
    top: 0;
    width: 100%;
    font-size: 125%;
    padding: 7% 15%;
}
  
.topnav a:hover .active {
    background-color: #ddd;
    color: black;
}


/*
nav {
    width: 45%;
    padding-left: 20%;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
}

nav ul li a {
    text-transform: lowercase;
    text-decoration: none;
    font-size: 18px;
    color: rgb(13, 63, 13);
}

nav ul li a:hover {
    color: rgb(225, 87, 110);
}
*/


header img {
    display: block;
    width: 70%;
    height: auto;
    border-radius: 10%;
    border: double 7px #1e1b1c;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    margin: auto;
}

.welcome {
    padding: 3% 10%;
    width: 100%;
}

.welcome h2 {
    font-size: 180%;
}

.welcome h3 {
    font-size: 130%;
}

.welcome h4 {
    font-size: 100%;
    line-height: 140%;
}

/*****ABOUT*****/

#about {
    padding: 5% 0 5% 10%;
    background-color: #396a51;
}

.body h2 {
    font-size: 180%;
    color: #ECECA9;
    font-weight:bolder;
}

.body h3 {
    color: #ECECCA;
    font-size: 150%;
}

.body p, a {
    color: #c7c76e;
    width: 90%;
    line-height: 170%;
}

/*****HEALTH*****/

#health {
    padding: 5% 0 5% 10%;
    background-color: #457e61;
}

.health-safety h2 {
    font-size: 180%;
    color: #ECECA9;
    font-weight:bolder;
}

.health-safety h3 {
    color: #ECECCA;
    font-size: 150%;
}

.health-safety p {
    width: 90%;
    line-height: 170%;
    color: #c7c76e;
}

/*****SKILLS*****/

#skills {
    padding: 5% 0 5% 10%;
    background-color: #4d9871;
}

.abilities h2 {
    font-size: 180%;
    color: #ECECA9;
    font-weight:bolder;
}

.abilities p {
    width: 90%;
    line-height: 170%;
    color: #d5d572;
}

/*****SLIDESHOW*****/

#slideshow {
    padding: 5% 0 5% 0;
    background-color: #64b98e;
}

.images h2 {
    font-size: 180%;
    color: #ECECA9;
    font-weight:bolder;
    text-align: center;
}

.img-section {
    display: none;
}

.img-section img {
    vertical-align: middle;
    border-radius: 10%;
    max-width: 70%;
    margin-left: 15%;
    margin-bottom: 15%;
}

.images {
    max-width: 900px;
    position: relative;
    margin: auto;  
}

.text {
    color: #f2f2f2;
    font-size: 90%;
    position: absolute;
    bottom: 8px;
    width: 200%;
    padding: 0 0 10px 20%;
    margin-top: 10%;
}

.fade {
    animation-name: fade;
    animation-duration: 1.3s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}


/*****CONTACT*****/

#contact {
    padding: 5% 0;
    padding-left: 10%;
    background-color: beige;
}

.find h2 {
    font-size: 180%;
    color: #3F1D0B;
    font-weight:bolder;
}

.find p {
    color: darkgoldenrod;
}

.icon-link a i {
    color:rgb(29, 83, 29);
    font-size: 250%;
}

.end {
    padding: 5% 0 3% 0;
}

.end h3 {
    font-size: 100%;
}

.name {
    color: rgb(112, 25, 25);
}

/******MEDIA SCREEN TABLET*****/

@media screen and (min-width: 760px) { 

}



/*****1200 px screens*****/

@media screen and (min-width: 1200px)  {

/*****DESKTOP*****/

    #intro {
        display: flex;
        flex-wrap: wrap;
        padding-top: 3%;
        padding-left: 10%;
        background-color: rgb(117, 201, 117);
        
    }

    .name h1 {
        font-size: 140%;
        text-align: left;
        width: 100%;
    }

    nav {
        width: 40%;
        text-align: right;
        padding-left: 35%;
    }

    nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        list-style-type: none;
        
    }

    nav ul li a {
        text-transform: lowercase;
        text-decoration: none;
        font-size: 20px;
        color: rgb(29, 83, 29);
    }

    nav ul li a:hover {
        color: rgb(225, 87, 110);
    }

}